<h1> Create Song</h1>
<%= form_for(@song) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :'song[name]' %><br>
  <label>Artist:</label><br>
  <%= f.text_field :'song[artist_id]' %><br>
  <label>Genre:</label><br>
  <%= f.text_field :'song[genre_id]' %><br>

  <%= f.submit %>
<% end %>
